<%- include('includes/head') %>
<%- include('includes/navbar') %>

    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 my-3">
          <h1 class="text-center">Criar conta ou Entrar</h1>
          <p class="text-center lead">Crie a sua conta ou faça o login abaixo.</p>

          <%- include('includes/messages'); %>

          <div class="row my-5">
            <div class="col-lg">
              <h4>Faça o seu cadastro</h4>
              <p>Se voce ainda não tem conta</p>

              <form action="/login/register" method="POST">
                <input type="hidden" name="_csrf" value=<%= csrfToken %>>
                <div class="mb-3">
                  <label>Endereço de E-mail</label>
                  <input type="email" class="form-control" name="email">
                </div>
                <div class="mb-3">
                  <label>Sua Senha</label>
                  <input type="password" class="form-control" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Criar minha conta</button>
              </form>
            </div>
            <div class="col-lg">
              <h4>Fazer Login</h4>
              <p>Se voce já tem uma conta</p>

              <form action="/login/login" method="POST">
                <input type="hidden" name="_csrf" value=<%= csrfToken %>>
                <div class="mb-3">
                  <label>Endereço de E-mail</label>
                  <input type="email" class="form-control" name="email">
                </div>
                <div class="mb-3">
                  <label>Sua Senha</label>
                  <input type="password" class="form-control" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Entrar</button>
              </form>


            </div>
          </div>

        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>

    <%- include('includes/footer') %>